<div class="row entete">
  <div class="col-lg-2 col-md-12">
    <img src="assets/img/profil/ProfilModifCV.jpg" alt="Ma photo de profil" width="150" class="rounded-circle img-thumbnail">
  </div>

  <div class="col-lg-10 col-md-12 mt-4">
    <h1>Cédric Caudron</h1>
    <p>Test Observable: {{test}}</p>
    <p>{{age.year}} ans, {{age.month}} mois, {{age.days}} jours, {{age.hours}} heures, {{age.minutes}} minutes et {{age.seconds}} secondes (environ)</p>
    <p>Recruteuses, recruteurs,</p>
    <p>Bonjour et bienvenue sur ma page personnelle réalisée en Angular.</p>
  </div>
</div>

<hr class="separator">

