<section class="accueilPage">
  <div class="row">
    <div class="col-lg-2 col-md-12">
      <img alt="Ma photo de profil" class="rounded-circle img-thumbnail mx-auto d-block"
           src="assets/img/profil/ProfilModifCV.jpg"
           width="150">
    </div>


    <div class="entete col-lg-10 col-md-12 mt-4">
      <h1 class="name">Cédric Caudron</h1>
      <p>{{age.year}} ans, {{age.month}} mois, {{age.days}} jours, {{age.hours}} heures, {{age.minutes}} minutes
        et {{age.seconds}} secondes (environ <img class="emote" src="assets/img/emote/emoji.jpg" alt="emoticone">)</p>
      <p>Recruteuses, recruteurs,</p>
      <p>Bonjour et bienvenue sur ma page personnelle réalisée en Angular.</p>
    </div>
  </div>

<app-separator [style]="'groove'"></app-separator>

<app-list-paragraphs></app-list-paragraphs>


</section>
