.dotted {
  border-top: 2px dotted;
  margin-top: 3em;
  margin-bottom: 3em;
}

.dashed {
  border-top: 2px dashed;
  margin-top: 3em;
  margin-bottom: 3em;
}

.solid {
  border-top: 2px solid;
  margin-top: 3em;
  margin-bottom: 3em;
}

.groove {
  border-top: 2px groove;
  margin-top: 3em;
  margin-bottom: 3em;
}

