<h1 class="text-center mt-3 mb-5 border p-3 border-primary">Page "Mes Etudes" en construction</h1>

<img src="assets/img/under-construction/logo-du-site-construction_13222-3.jpg" alt="en construction" class="img-fluid rounded mx-auto d-block">

<h3 class="mb-4 text-center">Mais en attendant vous pouvez aller voir un échantillon de mes réalisations:</h3>

<ul class="text-center list-unstyled">
  <li>
    <a class="btn btn-dark m-2" href="http://breakout-game.cedric-caudron.com" target="_blank">Jeu de casse-brique en JAVA</a>
  </li>
  <li>
    <a class="btn btn-dark m-2" href="http://darkweb-expose.cedric-caudron.com" target="_blank">Exposé sur le Dark-Web en Angular</a>
  </li>
  <li>
    <a class="btn btn-dark m-2" href="http://saute-canon.cedric-caudron.com" target="_blank">Ebauche de jeu de plateforme style FPS réalisé avec Unity3D</a>
  </li>
  <li>
    <a class="btn btn-dark m-2" href="http://valarep-cine.cedric-caudron.com" target="_blank">Exercice sur Angular réalisé dans le cadre de mon apprentissage</a>
  </li>
</ul>

<p class="text-center">Bientôt le CV sera en ligne. Réalisé en Angular, qui promettra bien des surprises!</p>
